# Node / JavaScript
node_modules/
dist/
build/

# Logs
*.log

#php
vendor/ 
*.env 

# Ignorar arquivo local de configuração SMTP (credenciais)
config/smtp_config.php

# IDE / Sistema
.vscode/
.DS_Store
Thumbs.db

#extensão Local history do VSCode
.history/