/* corrigir conflito backdrop, z-index com o bootstrap */

.modal-backdrop {
    z-index: 1040 !important;
}

.modal {
    z-index: 1050 !important;
}


label {
  color: #000 !important;
}

body {
padding-top: 80px; 
}